name: Build GCC Static

on:
  workflow_dispatch:   # jalan manual
  push:
    tags:
      - 'v*'           # otomatis kalau ada tag versi

jobs:
  build-gcc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            wget curl xz-utils \
            libgmp-dev libmpfr-dev libmpc-dev \
            flex bison texinfo \
            zlib1g-dev

      - name: Download GCC 13.3.0 source
        run: |
          wget https://ftp.gnu.org/gnu/gcc/gcc-13.3.0/gcc-13.3.0.tar.xz
          tar -xf gcc-13.3.0.tar.xz

      - name: Configure GCC (static build)
        run: |
          mkdir gcc-build
          cd gcc-build
          ../gcc-13.3.0/configure \
            --prefix=/usr \
            --disable-multilib \
            --disable-bootstrap \
            --disable-shared \
            --enable-languages=c,c++

      - name: Build GCC
        run: |
          cd gcc-build
          make -j$(nproc)

      - name: Compress build folder
        run: |
          tar -czf gcc-13.3.0-static.tar.gz -C gcc-build gcc-13.3.0-static

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: gcc-13.3.0-static.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
