name: Download and Compress VirtIO ISO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # penting agar bisa membuat release

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install 7zip
      run: sudo apt-get update && sudo apt-get install -y p7zip-full

    - name: Download ISO
      run: |
        curl -L -o virtio-win.iso https://code.input.sh/SovietReunion/RMX3171/-/archive/RMX3171_11.A.13_0130_202103090105/RMX3171-RMX3171_11.A.13_0130_202103090105.tar.gz

    - name: Compress ISO with 7z
      run: |
        7z a -t7z -mx=9 virtio-win.7z virtio-win.iso

    - name: Upload artifact (optional)
      uses: actions/upload-artifact@v4
      with:
        name: virtio-7z
        path: virtio-win.7z

    - name: Create Release and Upload
      uses: softprops/action-gh-release@v2
      with:
        tag_name: virtio-compressed
        name: VirtIO ISO Compressed
        files: virtio-win.7z
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
